# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
node_modules/
dist/
build/
*.egg-info/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Ignore Terraform cache and plugin directories
.terraform/
